* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/
html {
   font-family: "Montserrat";
   line-height: 1.71;
   letter-spacing: 0.42px;
   font-size: 14px;
   color: #595959;
   background-color: #f5f7fa;
   min-height: 100%;
}

.container {
   max-width: 1200px;
   background-color: #ffffff;
   margin: 0 auto;
   box-shadow: 5px 8.7px 20px 0 rgba(0, 0, 0, 0.15);
}
._title-side{
   color: #ffffff;
   font-size: 22px;
   font-weight: 700;
   line-height: 1.09;
   margin-bottom: 20px;
   max-width: 200px;
}


/* --------------------side-------------------------- */
.side {
   background-color: #1e2939;
   min-height: 100vh;
   padding-top: 40px;

}

.content {
   display: grid;
   grid-template-columns: 370px 1fr;

}

.side__content {
   padding: 57px 0px 0px 41px;
}

.side__img {
   margin: 0 auto;
   display: block;
}

.side__content {}

.side__contacts {
   display: flex;
   flex-direction: column;
   margin-bottom: 54px;
   max-width: 200px;
}
._title {
   color: #000000;
   font-size: 22px;
   font-weight: 700;
   line-height: 1.09;
   margin-bottom: 12px;
   max-width: 200px;
}

.contacts__phone, .contacts__github {
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 10px;
}

.contacts__phone::before {
   content: "C:";
   color: #ffffff;
   font-weight: 700;
   margin-right: 10px;
}

.contacts__email::before {
   content: "E:";
   color: #ffffff;
   font-weight: 700;
   margin-right: 10px;
}
.contacts__github::before {
   content: "G:";
   color: #ffffff;
   font-weight: 700;
   margin-right: 10px;
}

.contacts__email {
   margin-bottom: 10px;
   color: rgba(255, 255, 255, 0.5);
}
/* -------------info----------------- */
.info {
   padding: 100px 196px 100px 90px;
}

.info__content span{
   font-weight: 700;
}

.about__who {
   color: #000000;
   font-weight: 700;
   margin-bottom: 24px;
}

.about__title {
   font-size: 45px;
   font-weight: 700;
   color: #000000;
   margin-bottom: 24px;
}

.about_text {
   max-width: 413px;
   line-height: 1.71;
   color: #595959;
   letter-spacing: 0.42px;
   margin-bottom: 10px;
}
.about__content {
   margin-bottom: 30px;
}
.info__projects {
   margin-bottom: 30px;
}

.projects__title {
   font-size: 22px;
   font-weight: 700;
   color: #000;
   margin-bottom: 12px;
}

.projects__list {
   font-weight: 700;
   color: #000;

}


.projects__list-item {
   margin-left: 18px;
   margin-bottom: 15px;
   position: relative;


}
.border {
   color: #a8a8a8;
   margin-right: 5px;
}

.projects__list span {
   font-weight: 400;
}


.project-img {
   max-width: 500px;
   margin-bottom: 15px;
}
.info__education {
   margin-top: 40px;
}
.education__info{
   color: #ff6b08;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 14px;
}
.languages__text {
   margin-bottom: 10px;
   color: #ff6b08;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   
}
